<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chords</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
</head>
<body>
    <div class="chordsContainer">
        <div class="playingInterface">
            <div class="chords outerCircle"></div>
            <div class="chords middleCircle"></div>
            <div class="chords innerCircle"></div>
            <div class="chords currentChord"></div>
            <span>
                <input type="checkbox" class="septiemeButton" id="septiemeButton" name='7th' />
                <label for="septiemeButton">7th</label>
            </span>
        </div>
        <div class="controllers">
            <span>
                <input type="checkbox" class="memoryButton" id="memoryButton" name='chordmemory' />
                <label for="memoryButton">Chord memory</label>
            </span>
        </div>
    </div>
    <script type="module" src="/assets/js/chordsInterface.js"></script>
</body>
</html>