<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chords</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
</head>
<body>
    <div class="chordsContainer">
        <div class="chords outerCircle"></div>
        <div class="chords middleCircle"></div>
        <div class="chords innerCircle">
        </div>
        <div class="chords currentChord"></div>
        <input type="checkbox" class="septiemeButton">7th</input>
        <input type="checkbox" class="memoryButton">Chord Memory</input>
    </div>
    <script type="module" src="/assets/js/chordsInterface.js"></script>
</body>
</html>