<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strumplate</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
</head>
<body>
    <div class="harpContainer">
        <canvas id="strumPlate"></canvas>
        <button class="muteButton">mute</button>
        <div class="activate-screen"><p>Click to start</p></div>
    </div>
    <script type="module" src="/assets/js/harpInterface.js"></script>
</body>
</html>