@font-face {
    font-family: 'Aspekta';
    src: url('/assets/fonts/Aspekta-400.woff2');
}

body {
    background: #466B84;
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Aspekta', sans-serif;
}

.loading-cart {
    display: none;
}

.loading > * {
    display: none !important;
}

.loading .loading-cart{
    display: block;
}

.activate-screen {
    background-color: #466B84;
    bottom: 0;
    color: white;
    font-size: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.activate-screen.activated {
    display: none;
}

button,
input[type="checkbox"] {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fff;
    color: black;
    border-radius: 25px;
}

input[type="checkbox"] {
    appearance: none;
}


input[type="checkbox"]:checked {
    background-color: #466B84;
    border: 2px solid #EA95BF;
}

input[type="checkbox"]+label {
    font-size: 16px;
    color: white;
}

/* INTERFACE HARP */

#strumPlate {
    background: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 1pt;
    height: 100px;
    width: 500px;
}

/* INTERFACE CHORDS */
.chordsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 500px;
    height: 500px;
}

.chordsContainer span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chordsContainer .chords {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.chordsContainer .innerCircle {
    width: 240px;
    height: 240px;
    background-color: #466B84;
    align-items: center;
    justify-content: center;
}

.chordsContainer .outerCircle {
    width: 360px;
    height: 360px;
    background-color: #EA95BF;
}

.chordsContainer .middleCircle {
    width: 310px;
    height: 310px;
    background-color: #E672A9;

}

.chordsContainer .chordButton {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.chordsContainer .currentChord {
    color: #fff;
    font-size: 50px;
}