@font-face {
    font-family: 'Aspekta';
    src: url('/assets/fonts/Aspekta-400.woff2');
}

body {
    align-items: center;
    background: #466B84;
    display: flex;
    font-family: 'Aspekta', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    color: white;
}

.loading>* {
    display: none !important;
}

.activate-screen {
    background-color: #466B84;
    bottom: 0;
    color: white;
    font-size: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

:not(.loading).started .activate-screen {
    display: none;
}

button,
input[type="checkbox"] {
    background-color: #fff;
    border-radius: 50px;
    border: none;
    color: black;
    height: 70px;
    width: 70px;
}

input[type="range"] {
    appearance: none;
    background-color: #EA95BF;
    border-radius: 30px;
    height: 20px;
    margin: 20px 0;
    width: 100%;
}
/* 
input[type="range"]::-webkit-slider-runnable-track {

} */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

input[type="checkbox"] {
    appearance: none;
}


input[type="checkbox"]:checked {
    background-color: #466B84;
    border: 3px solid #EA95BF;
}

input+label {
    color: white;
    font-size: 16px;
}

/* INTERFACE HARP */
#strumPlate {
    background: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 1pt;
    height: 100px;
    width: 500px;
}

/* INTERFACE CHORDS */
.chordsContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

/* controller interface */
.chordsContainer .controllers {
    border-left: 3px solid white;
    width: 300px;
    padding: 30px 10px;
}

.controllers .button-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.controllers .volume-rack {
    padding: 20px;
}

/* playing interface */
.chordsContainer .playingInterface {
    position: relative;
    width: 100%;
}

.playingInterface span {
    align-items: center;
    bottom: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 5vh;
}

.playingInterface .chords {
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playingInterface .innerCircle {
    align-items: center;
    background-color: #466B84;
    height: 47vh;
    justify-content: center;
    width: 47vh;
}

.playingInterface .outerCircle {
    background-color: #EA95BF;
    height: 75vh;
    width: 75vh;
}

.playingInterface .middleCircle {
    background-color: #E672A9;
    height: 60vh;
    width: 60vh;
}

.playingInterface .chordButton {
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
}

.playingInterface .currentChord {
    color: #fff;
    font-size: 50px;
}